<div id="rightsidenav" class="rightsidenav">
       <div class="bm-menu" style="height: 100%; box-sizing: border-box; overflow: auto;">
          <nav class="bm-item-list" style="height: 100%;">
             <ul tabindex="-1" class="bm-item LeftNav list-group list-group-horizontal" style="display: block;"> 
                <a href="javascript:void(0)" class="closebtn" (click)="closeRightNav()">&times;</a>
                <a class="menu-item btnClick"><img src="assets/images/icon-data.png" alt="data" title="Data"></a>
                <a class="menu-item btnClick" ><img src="assets/images/icon-delete.png" alt="Delete Elements" title="Delete Elements"></a>
                <a class="menu-item btnClick" ><img src="assets/images/icon-cross.png" alt="Move Node and Wall" title="Move Node and Wall"></a>
                <a class="menu-item btnClick"><img src="assets/images/icon-point.png" alt="Draw Room" title="Draw Room"></a>
                <a class="menu-item btnClick" ><img src="assets/images/icon-node-wall.png" alt="Add Node to Wall" title="Add Node to Wall"></a>
                <a class="menu-item btnClick" ><img src="assets/images/icon-free-wall.png" alt="Snap / Free Mode" title="Snap / Free Mode"></a>
                <a class="menu-item btnClick" ><img src="assets/images/icon-shape-plus.png" alt="Pre defined shapes" title="Pre defined shapes"></a>
                <a class="menu-item btnClick" ><img src="assets/images/icon-hide-pdf.png" alt="Show / Hide PDF or Image" title="Show / Hide PDF or Image"></a>
                <a className="menu-item btnClick" ><img src='assets/images/icon-rooms.png' alt="Import PDF" title="Import PDF or Image" /></a><a class="menu-item btnClick"><img src="assets/images/icon-room-lock.png" alt="Lock Image" title="Lock Image"></a><a class="menu-item btnClick"><img src="assets/images/icon-image.png" alt="Download Image" title="Download Image"></a>
                <a class="menu-item btnClick" ><img src="assets/images/icon-image.png" alt="Save Shape" title="Save Shape"></a>
                <a class="menu-item btnClick"><img src="assets/images/icon-shapes-copy.png" alt="Shape Copy" title="Shape Copy"></a>
             </ul>
          </nav>
       </div>
    </div>