 <div id="leftsidenav" class="leftsidenav">
       <div class="bm-menu" style="height: 100%; box-sizing: border-box; overflow: auto;">
          <nav class="bm-item-list" style="height: 100%;">
             <ul tabindex="-1" class="bm-item LeftNav list-group list-group-horizontal" style="display: block;"> 
               <a href="javascript:void(0)" class="closebtn" (click)="closeLeftNav()">&times;</a>
               <a class="menu-item btnClick" (click)="addText()"><img src="assets/images/icon-text.png" alt="IIconText" title="Add Text"></a>
               <!-- <a class="menu-item btnClick" ><img src="assets/images/icon-room.png" alt="Add Window" title="Add Window"></a>
               <a class="menu-item btnClick" ><img src="assets/images/icon-door-front.png" alt="Add Door" title="Add Door"></a>
               <a class="menu-item btnClick" ><img src="assets/images/icon-fireplace.png" alt="Add Fireplace" title="Add Fireplace"></a>
               <a class="menu-item btnClick"><img src="assets/images/icon-radiator.png" alt="Add Radiator" title="Add Radiator"></a>
               <a class="menu-item btnClick"><img src="assets/images/icon-radiator-2.png" alt="" title=""></a>
               <a class="menu-item btnClick"><img src="assets/images/icon-table.png" alt="Add Table" title="Add Table"></a>
               <a class="menu-item btnClick"><img src="assets/images/icon-round-table.png" alt="Add Round Table" title="Add Round Table"></a>
               <a class="menu-item btnClick"><img src="assets/images/icon-triangle-table.png" alt="Add triangle Table" title="Add triangle Table"></a>
               <a class="menu-item btnClick"><img src="assets/images/icon-chair.png" alt="Add Chair" title="Add Chair"></a>
               <a class="menu-item btnClick"><img src="assets/images/icon-bar.png" alt="Add Bar" title="Add Bar"></a> 
               <a class="menu-item btnClick"><img src="assets/images/icon-round-table.png" alt="Add Wall" title="Add Wall"></a> -->
            </ul>
          </nav>
       </div>
    </div>