<div>
   <ul class="custom-menu" id="context-menu" style="display: none;">
      <li data-action="deleteElements"><i class="fa fa-trash" aria-hidden="true"></i> Delete Element </li>
      <li data-action="clearAll"><i class="fa fa-recycle" aria-hidden="true"></i> Clear All</li>
   </ul>
   <app-leftpanel></app-leftpanel>
    <div>
       <div>
          <div class="container-fluid">
             <div class="header-wrapper row">
                <div class="logo col"><a href="void(0);">Logo</a></div>
                <div class="menu-2">
                   <div>
                      <div class="bm-overlay" style="position: fixed; z-index: 1000; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); opacity: 0; transform: translate3d(100%, 0px, 0px); transition: opacity 0.3s ease 0s, transform 0s ease 0.3s;"></div>
                      <div>
                         <div class="bm-burger-button" style="z-index: 1000;"><button (click)="openLeftNav();" id="react-burger-menu-btn" style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; height: 100%; margin: 0px; padding: 0px; border: none; font-size: 0px; background: transparent; cursor: pointer;">Open Menu</button><span><span class="bm-burger-bars" style="position: absolute; height: 20%; left: 0px; right: 0px; top: 0%; opacity: 1;"></span><span class="bm-burger-bars" style="position: absolute; height: 20%; left: 0px; right: 0px; top: 40%; opacity: 1;"></span><span class="bm-burger-bars" style="position: absolute; height: 20%; left: 0px; right: 0px; top: 80%; opacity: 1;"></span></span></div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col">
                   <ul class="toolbar list-group list-group-horizontal">
                     <div class="textOptions">
                     <label for="fontSizePicker"> Font Size: &nbsp;</label>
                     <input type="text" style="width: 50px;" [(ngModel)]="fontSize" (keyup.enter)="changeFontSize(fontSize)">&nbsp;px
                     <!-- <select
                       id="fontSizePicker"
                       [(ngModel)]="selectedFontSize"
                       (change)="changeFontSize(selectedFontSize)"
                     >
                       <option *ngFor="let size of fontSizes" [value]="size">{{ size }}px</option>
                     </select> -->
                   </div>
                   <div class="textOptions">
                   <input style="width: 35px;border: none;padding: 4px;border-radius: 5px;" [cpPosition]="'bottom'"  [(colorPicker)]="fillcolor" [style.background]="fillcolor" (colorPickerChange)="changeTextColor($event)"   />
                 </div>
                   <div class="textOptions">
                   <div style="border: 1px solid rgb(41, 34, 34);padding: 4px;border-radius: 5px;" [(fontPicker)]="fontFamily" [fpWidth]="'320px'" [fpSizeSelect]="false" [fpStyleSelect]="false" [fpPosition]="'bottom'" (fontPickerChange)="changeFontFamily($event)">
                     {{fontFamily}}
                   </div>
                 </div>
                  </ul>
                </div>
             </div>
          </div>
       </div>
       <div class="main-canvas-container">
         <div class="canvas-container">
             <div class="main-area" style="overflow: scroll;">
                 <div class="canvas-area" style="display: flex; justify-content: center; width: 100%; height: calc(100vh - 50px);">
                     <div id='canvaspages' tabindex="0" style="outline: none;">
                     </div>
                     <div style="display:none;">
                         <canvas id="outputcanvas" width="750" height="600" class="canvas">
                         </canvas>
                     </div>
                     <div style="display:none;">
                         <canvas id="tempcanvas" width="100" height="100" class="canvas">
                         </canvas>
                     </div>
                 </div>
             </div>
         </div>
       </div>
    </div>
 </div>